@font-face {
    font-family: 'Jeju Hallasan';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuHallasan/JejuHallasan.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuHallasan/JejuHallasan.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuHallasan/JejuHallasan.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuHallasan/JejuHallasan.ttf') format('truetype');
}
